{% extends 'layout.html'%}
{% load static %}


{% block content %}
<div class="col-md-9 border">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'image/image_aboutme/me1.jpg' %}" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6 p-4 ">
            <h4 class="text-center fw-bold">ประวัติผู้จัดทำ</h4>
            <p class="fw-bold fs-6 ">นายทวีวัฒน์  บานฤทัย</p>
            <p>ตำแหน่ง ครูผู้ช่วย</p>
            <p>โรงเรียนบ้านเซียมป่าหม้อ อำเภอแก้งคร้อ ตำบลโคกกุง จังหวัดชัยภูมิ</p>
            <p>สอนในรายวิชา วิทยาการคำนวณ / การออกแบบและเทคโนโลยี/รายวิชาคอมพิวเตอร์เพิ่มเติม</p>
            <p>จบการศึกษาจากมหาวิทยาลัยราชภัฏพระนคร</p>
            <p>ครุศาสตร์บัณฑิต วิชาเอกคอมพิวเตอร์ศึกษา</p>
            <hr>
        </div>     
    </div>
</div>

{% endblock %}