{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block style%}
  <style>
    #cardclick:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    }
  </style>
{% endblock %}


{% block content %}
<div class="col-md-9 ">
    <div class="container-fluid ">
        <div class="row">
            {% for n in blog %}
            <div class="card mb-6 " id="cardclick">
                <div class="row g-0 ">
                  <div class="col-md-4">
                    <a href="{% url 'blogdetail' n.id %}" ><img src="{{ n.images.url }} " class="img-fluid rounded-start" alt="..."></a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body " style="max-height: 300px;overflow:hidden">
                      <a href="{% url 'blogdetail' n.id %}" class="text-decoration-none text-dark" ><h5 class="card-title">{{ n.name }}</h5></a>
                      <a href="{% url 'blogdetail' n.id %}" class="text-decoration-none text-dark"><p class="card-text">{{ n.content |safe }} </p></a>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div> 
                  </div>
                  <div class=" col-md-4 footer ">
                  </div>
                  <div class=" col-md-8 footer ">
                      <p class="ms-3" > {{ n.created|thaidate }} View:: {{ n.views }} </p>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

{% block profile %}
    <div class="card">
        <img class="card-img-top" src="{% static '/image/me.png' %}">
        <div class="card-body">
            <h4 class="card-title">Hello World ;) </h4>
            <p class="card-text">ครูผู้ช่วย โรงเรียนบ้านเซียมป่าหม้อ อำเภอแก้งคร้อ จังหวัดชัยภูมิ สอนวิชาวิทยาการคำนวณ</p>
            <a href="{% url 'aboutme' %}" class="btn btn-primary">เพิ่มเติม</a>
        </div>
    </div>
{% endblock %}